.btn-primary
{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: none;
    border-radius: 10px;
    width: 12em;
    height: 3em;
}
.btn-primary2
{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: none;
    border-radius: 10px;
    width: 8em;
    height: 2em;
}
.comment
{
    background-color: bisque;
    padding: 1em;
    width: 50%;
    margin-bottom: 2em;
    border-radius: 10px;
}