* {
  box-sizing: border-box;
}
.carousel {
  width: 100%;
}

.carousel-item img {
  height: 660px; /* высота изображения */
  object-fit: fill;
}

#description {
  color: #bb6829;

}
.footer-nongrad {
     width: 100%;
     padding-bottom: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5px;
     color: #bb6829;
 }
#navigation {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: 10000;
  border-radius: 0 0 10px 10px;
}

