{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block description %}
{{ title }}
{% endblock %}

{% block content %}
{% for el in films %}
<div class="col" id="filmblock">
    <div class="card shadow-sm">
        <img src="{{ el.imagePath }}" class="d-block w-100" alt="...">
        <div class="card-body">
            <p class="card-text">
                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ el.name }}<br>{{ el.description }} </font></font></p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button name="write" type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='player/{{ el.id }}'">Смотреть</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}