{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block description %}
{{ title }}
{% endblock %}

{% block content %}
<section class="album">
    <div class="album py-5 ">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
                {% for el in films %}
                    <div class="col" id="filmblock">
                        <div class="card shadow-sm">
                            <img src="{{ el.photo_url }}" class="d-block w-100" alt="...">
                            <div class="card-body">
                                <p class="card-text">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;"></font>
                                    </font>
                                    <span style="font-size: 30px;">{{ el.name }}</span>
                                    <br>{{ el.description }} 
                                    <br> 
                                    {% if el.primary %}
                                        Премиум контент
                                    {% else %}
                                        Базовый контент
                                    {% endif %}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button name="write" type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/player/{{ el.id }}'">Смотреть</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</section>
<footer class="footer-grad">
    <p>© 2022 813Enjoyers team
    </p>
</footer>

{% endblock %}