{% extends 'main/base.html' %}


{% block title %}
{{ title }}
{% endblock %}

{% block description %}
{{ film.name }}
{% endblock %}

{% block content %}
    <div class="myVideo" id="video">
        <!-- Include WebTorrent -->
    <script src="https://cdn.jsdelivr.net/npm/webtorrent@latest/webtorrent.min.js"></script>

    <!-- Torrent streaming -->
    <script>
        magnet = ""
        torrentId = "{{ film.magnet }}"
        for (var i = 0; i < torrentId.length; i++){
            if(torrentId[i] != '&'){
                magnet += torrentId[i]
            }
            else {
                magnet += '&'
                i+=4
            }
        }

        const client = new WebTorrent()
        client.add(magnet, onTorrent)

        // Render media files into to the page
        function onTorrent (torrent) {
            torrent.files.forEach(function (file) {
                if (file.name.endsWith('.mp4'))
                {
                    file.appendTo('.myVideo')
                }
            })
        }

    </script>
    </div>
    
    <div class="container">
    {% if isuser%}
    <form method="post", action=''>
        {% csrf_token %}

        <label class="form-label"   for="comment"><b>Коментарий</b></label>
        <input class="" type="text" placeholder="Enter comment" name="comment"></br>

        <button class="btn-primary2" type="submit"> Опубликовать </button>

    </form>
    {% endif %}

    <h2>Коментарии:</h2><br>
    {% for comment in comments %}
    <div class="comment ">
        <p> Пользователь: {{comment.owner.username }}</p>
        <p> Коментарий: {{comment.body}} </p>
    </div>
        {% endfor %}
    </div>

    <footer class="footer-nongrad">
        <p>© 2022 813Enjoyers team
        </p>
    </footer>
{% endblock %}

